name: "Terraform Plan - Dev"

on:
  pull_request:
    branches:
      - main
    paths:
      - "infra/**"

permissions:
  contents: read
  pull-requests: write

jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  # change if your TF env uses another

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Init
        working-directory: infra/env/dev
        run: terraform init

      - name: Terraform Plan
        id: plan
        working-directory: infra/env/dev
        run: |
          terraform plan -no-color > plan.txt
          echo 'PLAN<<EOF' >> "$GITHUB_OUTPUT"
          cat plan.txt >> "$GITHUB_OUTPUT"
          echo 'EOF' >> "$GITHUB_OUTPUT"

      - name: Comment plan on PR
        uses: peter-evans/create-or-update-comment@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Terraform Plan:

            ```
            ${{ steps.plan.outputs.PLAN }}
            ```
